*{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    background-color: lightblue;
    line-height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.list{
    display: flex;
    list-style: none;
   
    /* align-items: center; */
}
#check,#checked{
    display: none;
}

.list li a{
    text-decoration: none;
    padding: 20px;
}

@media screen and (max-width:800px) {
    .list{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 80px;
        background:linear-gradient(red,black);
        height: 60vh;
        width: 100%;
        left: 100%;
        transition: all 1s;   
    }
    a{
        color: aliceblue;
    }
    #check{
        display: block;
    }
    #checked{
        display: block;
    }
    #check:checked~ul{
        left: 70%;
    }
}